{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="bg-white shadow-large lg:my-10 mx-5 rounded-xl md:rounded-2xl p-3 md:p-5 border">
    <div class="relative flex justify-center items-center mb-5">
      <img class="w-full h-96 md:h-[500px] object-center object-cover rounded-xl blur-sm" src="{% static 'image/workspace.jpg' %}" alt="">
      <div class="absolute top-0 bg-zinc-400 bg-opacity-50 w-full h-full flex justify-center items-center text-white font-semibold rounded-xl">
        <div class="text-center space-y-5">
          <div class="text-3xl sm:text-3xl md:text-5xl">
            راژمان گستر آریا تقدیم می کند
          </div>
          <div class="text-xl sm:text-2xl md:text-4xl">
            به شرکت مهندسی و فروشگاهی  راژمان گستر آریا خوش آمدید
          </div>
        </div>
      </div>
    </div>
      <div class="leading-10">
        <div class="mb-2 text-lg font-semibold text-zinc-800">
          درباره شرکت
        </div>
        <div class="text-zinc-700" style="line-height: 1.8rem;">
شرکت راژمان گستر آریا از سال ۱۳۸۷ فعالیت خود را با هدف ارائه خدمات تخصصی در حوزه مخابرات، شبکه و زیرساخت‌های ارتباطی آغاز کرد. این شرکت با بیش از ۱۵ سال تجربه اجرایی و تکیه بر بیش از ۷۰۰ نفر نیروی انسانی متخصص، امروز به‌عنوان یکی از پیمانکاران معتبر و قابل اعتماد در صنعت مخابرات کشور شناخته می‌شود.        
        </div>
        <div class="text-zinc-700" style="line-height: 1.8rem;">
راژمان گستر آریا با بهره‌گیری از فناوری‌های روز، تجهیزات پیشرفته و تیم‌های اجرایی توانمند، طیف گسترده‌ای از پروژه‌های مخابراتی و شبکه را برای اپراتورها، سازمان‌ها و شرکت‌های بزرگ با موفقیت به انجام رسانده است. تعهد به کیفیت، نوآوری، و ارائه خدمات قابل اتکا، پایه‌های اصلی فعالیت ما را تشکیل می‌دهد.        </div>
        <div class="mb-2 mt-4 text-lg font-semibold text-zinc-800">
ماموریت ما        
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
ارائه راهکارهای ارتباطی پایدار، امن و اقتصادی برای سازمان‌ها و اپراتورها، با تمرکز بر کیفیت، تخصص فنی و پشتیبانی حرفه‌ای.         
        </div>
        <div class="mb-2 mt-4 text-lg font-semibold text-zinc-800">
         چشم‌انداز ما
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
قرار گرفتن در میان شرکت‌های پیشرو صنعت مخابرات و شبکه در ایران از طریق توسعه فناوری‌های نوین، گسترش دامنه خدمات و ارتقای مستمر سطح رضایت مشتریان.         
        </div>
        <div class="mb-2 mt-4 text-lg font-semibold text-zinc-800">
حوزه های فعالیت و خدمات اصلی        
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
            <ul>
                <li>
•	طراحی و اجرای شبکه‌های مخابراتی و دیتا                   
                </li>
                <li>
•	پیاده‌سازی زیرساخت‌های فیبر نوری                  
                </li>
                <li>
•	نصب، راه‌اندازی و نگهداری تجهیزات ارتباطی                    
                </li>
                <li>
•	تأمین تجهیزات پسیو و اکتیو فیبر نوری و شبکه                    
                </li>
                <li>
•	مشاوره تخصصی در حوزه زیرساخت‌های ارتباطی                    
                </li>
                <li>
•	مدیریت و نظارت فنی بر اجرای پروژه‌ها                    
                </li>
                <li>
                    •	ارتقای شبکه‌های موجود
                </li>
            </ul>
        </div>

        <div class="mb-2 mt-4 text-lg font-semibold text-zinc-800">
            مشتریان و شرکای تجاری
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
        شرکت راژمان گستر آریا افتخار همکاری با مجموعه‌ای از بزرگ‌ترین شرکت‌ها و اپراتورهای مخابراتی کشور را دارد. برخی از مشتریان و شرکای تجاری ما عبارت‌اند از:
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
            <ul>
                <li>
•	شرکت مخابرات ایران                
                </li>
                <li>
•	همراه اول                 
                </li>
                <li>
•	ایرانسل                
                </li>
                <li>
•	آسیاتک                
                </li>
                <li>
•	شاتل                
                </li>
                <li>
•	فناپ تلکام                
                </li>
                <li>
•	شهرداری تهران                 
                </li>
                <li>
•	شرکت خودرو سازی سایپا                
                </li>
                <li>
•	پتروشیمی خلیج فارس                
                </li>
                <li>
•	دانشگاه علامه طباطبایی                 
                </li>
                <li>
•	دانشگاه خواجه نصیرالدین طوسی                 
                </li>
                <li>
•	دانشگاه پیام نور                
                </li>
            </ul>
        </div>
      </div>
        <div class="mb-2 mt-4 text-lg font-semibold text-zinc-800">
        افتخارات و گواهی‌نامه‌ها
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
شرکت راژمان گستر آریا در طول سال‌های فعالیت خود همواره تلاش کرده است با حفظ استانداردهای حرفه‌ای و ارتقای سطح کیفیت خدمات، جایگاه خود را به‌عنوان یک مجموعه پیشرو در صنعت مخابرات تثبیت کند. در همین راستا، این شرکت موفق به دریافت گواهی‌نامه‌ها و افتخارات متعدد در حوزه‌های فنی، اجرایی و مدیریتی شده است.         
        </div>

        <div class="mb-2 mt-4 text-lg font-semibold text-zinc-800">
گواهی‌نامه‌ها         
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
            <ul>
                <li>
•	گواهی صلاحیت پیمانکاری از مراجع ذی‌صلاح در حوزه ارتباطات                 
                </li>
                <li>
•	گواهی تأیید صلاحیت ایمنی پیمانکاران                 
                </li>
                <li>
•	گواهی‌نامه مدیریت کیفیت ISO 9001                 
                </li>
                <li>
•	گواهی‌نامه مدیریت ایمنی و بهداشت شغلی ISO 45001                  
                </li>
                <li>
•	گواهی‌نامه مدیریت زیست‌محیطی ISO 14001                
                </li>
            </ul>
        </div>

        <div class="mb-2 mt-4 text-lg font-semibold text-zinc-800">
افتخارات            
        </div>
        <div class="leading-8 text-zinc-700" style="line-height: 1.8rem;">
            <ul>
                <li>
•	پیمانکار برگزیده صنعت ارتباطات کشور                 
                </li>
                <li>
•	کارفرمای برتر بیمه تامین اجتماعی استان گیلان                
                </li>
                <li>
•	همکاری بلندمدت با بزرگ‌ترین شرکت مخابراتی کشور               
                </li>
                <li>
•	شرکت پیشرو در پروژه ملی فیبر نوری               
                </li>
                <li>
•	اجرای موفق صدها پروژه مخابراتی و شبکه در سراسر کشور                 
                </li>
                <li>
•	توسعه و به‌کارگیری نیروهای متخصص در بیش از 10 استان کشور                 
                </li>
                <li>
•	افزایش ظرفیت عملیاتی و ایجاد یکی از گسترده‌ترین تیم‌های اجرایی در حوزه مخابرات                
                </li>
            </ul>
        </div>
    </div>
{% endblock  %}