{% extends 'user_base_profile.html' %}
{% load humanize %}

{% block profile_content %}
<div class="">
    <div class="text-zinc-800 text-lg mb-4 font-semibold">
        ویرایش آدرس
    </div>
    <form class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 pt-4" action="" method="post">
        {% csrf_token %}
        <div>
            <div class="mt-5">
                <div class="flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                        عنوان آدرس
                    </label>
                    <input placeholder="عنوان آدرس " name="title" value="{{ form.title.value }}"
                            class="focus:shadow-primary-outline text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-400 focus:outline-none">
                </div>
            </div>
            <!-- inputs -->
            <div class="sm:flex gap-x-5 mt-5">
                <div class="sm:w-1/2 mb-2 sm:mb-0 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                        نام تحویل گیرنده
                    </label>
                    <input type="text" name="receiver_first_name" value="{{ form.receiver_first_name.value }}"
                            class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
                <div class="sm:w-1/2 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                        نام خانوادگی تحویل گیرنده
                    </label>
                    <input type="text" name="receiver_last_name" value="{{ form.receiver_last_name.value }}"
                    class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
            </div>
            <div class="sm:flex gap-x-5 mt-5">
                <div class="sm:w-1/2 mb-2 sm:mb-0 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                    استان
                    </label>
                    <input type="text" name="province" value="{{ form.province.value }}"
                    class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
                <div class="sm:w-1/2 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                    شهر
                    </label>
                    <input type="text" name="city" value="{{ form.city.value }}"
                    class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
            </div>
            <div class="sm:flex gap-x-5 mt-5">
                <div class="sm:w-1/2 mb-2 sm:mb-0 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                    پلاک
                    </label>
                    <input type="text" name="plaque" value="{{ form.plaque.value }}"
                    class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
                <div class="sm:w-1/2 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                    واحد
                    </label>
                    <input type="text" name="unit" value="{{ form.unit.value }}"
                     class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
            </div>
            <div class="sm:flex gap-x-5 mt-5">
                <div class="sm:w-1/2 mb-2 sm:mb-0 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                    شماره تلفن تحویل گیرنده
                    </label>
                    <input type="text" name="receiver_phone" value="{{ form.receiver_phone.value }}"
                     class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
                <div class="sm:w-1/2 flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                    کد پستی
                    </label>
                    <input type="text" name="postal_code" value="{{ form.postal_code.value }}"
                    class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
            </div>
            <div class="mt-5">
                <div class="flex flex-col gap-y-1">
                    <label class="text-sm text-zinc-700 flex">
                        آدرس کامل
                    </label>
                    <textarea placeholder="آدرس کامل" name="address" cols="30" rows="7" class="focus:shadow-primary-outline text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-400 focus:outline-none">{{ form.address.value }}"</textarea>
                </div>
            </div>
            <button class="w-1/2 mx-auto mt-2 block py-3 text-sm bg-blue-500 hover:bg-blue-400 transition text-gray-100 rounded-xl text-center">
               <input type="submit" value="ثبت تغییرات" />
            </button>
        </div>
    </form>
</div>
{% endblock profile_content %}