{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-white shadow-large lg:my-10 mx-5 rounded-xl md:rounded-2xl p-3 md:p-5 border">
    <div class="relative flex justify-center items-center mb-5">
        <img class="w-full h-96 md:h-[500px] object-center object-cover rounded-xl blur-sm" src="{% static 'image/workspace.jpg' %}" alt="">
        <div class="absolute top-0 bg-zinc-400 bg-opacity-50 w-full h-full flex justify-center items-center text-white font-semibold rounded-xl">
            <div class="text-center space-y-5">
                <div class="text-3xl sm:text-3xl md:text-5xl">
                جهت همکاری با شرکت راژمان گستر آریا
                </div>
                <div class="text-xl sm:text-2xl md:text-4xl">
                    نسبت به تکمیل و ارسال فرم زیر اقدام نمایید.
                </div>
            </div>
        </div>
    </div>


    <form action="" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="relative mb-3">
            <label for="first-name-id">نام</label>
            <input type="text" name="first_name"
                class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                id="first-name-id" placeholder="نام" />
        </div>
        <div class="relative mb-3">
            <label for="last-name-id">نام خانوادگی</label>
            <input type="text" name="last_name"
                class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                id="first-name-id" placeholder="نام خانوادگی" />
        </div>
        <div class="relative mb-6">
            <label for="phone-number-id">شماره تلفن</label>
            <input type="tel" name="phone_number"
                    class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    id="phone-number-id" placeholder="شماره تلفن" />
        </div>
        <div class="relative mb-6">
            <label for="email-id">ایمیل</label>
            <input type="email" name="email"
                    class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    id="email-id" placeholder="ایمیل" />
        </div>

        <div class="relative mb-6">
            <label for="age-id">سن</label>
                <input type="number" name="age"
                    class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    id="age-id" placeholder=" سن" />
        </div>

        <div class="relative mb-6">      
            <label for="maritial-id">وضعیت تاهل</label>
            <div>

                <input type="radio" name="maritial_status" id="Single"  value="مجرد"/>مجرد
                
            </div>
            <div>
                <input type="radio" name="maritial_status" id="Married" value="متاهل"/>متاهل
            </div>
        </div>
        <div class="relative mb-6">
            <label for="gender-id">جنسیت</label>
            <div>
                <input type="radio" name="gender" id="Male"  value="مرد"/>مرد
                
            </div>
            <div>
                <input type="radio" name="gender" id="Female" value="زن"/>زن
            </div>
        </div>
        <div class="relative mb-6">
            <label for="education-id">تحصیلات</label>
                <input type="text" name="education"
                    class="peer text-right block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-2 px-3 leading-6 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    id="education-id" placeholder=" تحصیلات" /> 
        </div>  
        <div class="relative mb-6">
            <label for="text-id">توضیحات</label>
            <textarea name="message"
                    class="peer block min-h-[auto] w-full rounded border border-zinc-300 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                    id="text-id" rows="3" placeholder="متن پیام">
            </textarea>

        </div>  
        <div class="relative mb-6">
            <label for="file-id">رزومه</label>
            <input type="file" name="cv" id="file-id">
        </div>
        <div>
            <button class="w-full inline-block py-3 px-10 text-sm bg-blue-500 hover:bg-blue-400 transition text-gray-100 rounded-xl text-center" type="submit">
                  ارسال
            </button>
        </div>
    </form>

{% endblock  %}