{% extends "user_base_profile.html" %}
{% load static %}

{% block profile_content %}
<div class="h-screen flex justify-center items-center">
        <form action="" method="post">
            {% csrf_token %}
            <div class="sm:flex gap-x-5 mt-5">
                <div class="text-zinc-800 text-lg mb-4 font-semibold">
                    <label class="text-sm text-zinc-700 flex">
                        ایمیل
                    </label>
                    <input type="email" name="email" class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none" />
                </div>
            </div>
            <button class="w-1/2 mx-auto mt-2 block py-3 text-sm bg-blue-500 hover:bg-blue-400 transition text-gray-100 rounded-xl text-center">
               <input type="submit" value="ارسال" />
            </button>
        
        </form>
</div>


{% endblock %}