{% extends "user_base_profile.html" %}
{% load static %}

{% block profile_content %}
    {% if validlink %}
        <div class="h-screen flex justify-center items-center">
            <div class="bg-white rounded-2xl border w-11/12 sm:w-7/12 md:w-6/12 lg:w-4/12 xl:w-3/12 h-auto py-5 px-4">
                <img class="w-44 mx-auto" src="{% static 'image/logo.png' %}" alt="">
                <div class="mt-5 text-lg font-semibold text-zinc-800 text-center">
                    تغییر رمزعبور
                </div>
                <br>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="flex flex-col gap-y-1">
                        <input type="password" placeholder="رمز عبور جدید" name="new_password1" class="placeholder:text-right text-sm block w-full rounded-md border border-gray-300 px-3 py-3 font-normal text-gray-700 outline-none transition-all focus:border-blue-500 focus:outline-none">
                    </div>
                    <br>
                    <div class="flex flex-col gap-y-1">
                        <input type="password" placeholder="تایید رمز عبور جدید" name="new_password2" class="placeholder:text-right text-sm block w-full rounded-md border border-gray-300 px-3 py-3 font-normal text-gray-700 outline-none transition-all focus:border-blue-500 focus:outline-none">
                    </div>
                    <br>
                    <input type="submit" value="ثبت تغییرات">
                
                </form>
            </div>
        </div>
    {% else %}
        <div class="h-screen flex justify-center items-center">
            <div class="bg-white rounded-2xl border w-11/12 sm:w-7/12 md:w-6/12 lg:w-4/12 xl:w-3/12 h-auto py-5 px-4">
                <img class="w-44 mx-auto" src="{% static 'image/logo.png' %}" alt="">
                <div class="mt-5 text-lg font-semibold text-zinc-800 text-center">
                    <p>این لینک معتبر نمی باشد لطفا مجددا امتحان کنید.</p>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}