{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% block content %}
  <div class="mt-10 md:mb-7 px-3 bg-white py-4 mx-3 rounded-xl shadow-lg">
    <div class="py-5 px-3 lg:px-10 md:flex gap-x-5">
      <div class="md:w-3/12">
        <div class="px-2 sm:px-3 py-3 bg-white rounded-xl shadow-lg">
          {% for category in categories %}
          <button class="mx-auto flex gap-x-1 group items-center md:font-semibold md:text-lg text-right w-full px-2 py-3 text-sm hover:bg-blue-400 hover:text-white transition text-gray-700 rounded-lg">
            <a href="{{ category.get_absolute_url }}"> {{ category.name }} </a>
          </button>
          {% endfor %}
        </div>
      </div>
      <div class="md:w-9/12 mt-5 md:mt-0">
        <!-- section blog -->
        <div class="rounded-2xl mx-auto text-gray-100">
          <!-- main blog -->
          {% for post in posts %}
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-3">
              <div class="bg-white rounded-2xl border border-zinc-300 group">
                <div class="image-box">
                  <img class="rounded-2xl" src="{{ post.image.url }}" alt="">
                </div>
                <div class="p-2 md:p-4 mt-2">
                  <a href="{{ post.get_absolute_url }}" class="font-semibold text-zinc-800">
                    {{ post.title }} 
                  </a>
                  <div class="flex items-center justify-around mt-2">
                    <div class="text-xs text-zinc-500">
                     {{ post.published_date|jformat:"%A %d %B %Y" }}
                    </div>
                    <a href="{{ post.get_absolute_url }}" class="flex items-center justify-center gap-x-1 text-sm w-fit py-2 px-5 mr-auto rounded-lg text-white bg-blue-500 hover:bg-blue-400 transition">
                      ادامه خواندن
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="mb-10 mt-7">
        <ul class="flex items-center justify-center gap-x-2 md:gap-x-3 h-8 text-sm">
          <li>
            <a href="#" class="flex items-center justify-center transition shadow-lg px-3 h-8 ms-0 text-gray-500 bg-white rounded-lg  hover:bg-blue-100 hover:text-blue-400">
              <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center justify-center transition shadow-lg px-3 h-8 text-blue-500 bg-blue-200 rounded-lg hover:bg-blue-100">1</a>
          </li>
          <li>
            <a href="#" class="flex items-center justify-center transition shadow-lg px-3 h-8 text-gray-500 bg-white rounded-lg hover:bg-blue-100 hover:text-blue-400">2</a>
          </li>
          <li>
            <a href="#" class="flex items-center justify-center transition shadow-lg px-3 h-8 rounded-lg text-gray-500 bg-white  hover:bg-blue-100 hover:text-blue-400">3</a>
          </li>
          <li>
            <a href="#" class="flex items-center justify-center transition shadow-lg px-3 h-8 text-gray-500 bg-white rounded-lg  hover:bg-blue-100 hover:text-blue-400">...</a>
          </li>
          <li>
            <a href="#" class="flex items-center justify-center transition shadow-lg px-3 h-8 text-gray-500 bg-white rounded-lg  hover:bg-blue-100 hover:text-blue-400">8</a>
          </li>
          <li>
            <a href="#" class="flex items-center justify-center transition shadow-lg px-3 h-8 text-gray-500 bg-white rounded-lg  hover:bg-blue-100 hover:text-blue-400">
              <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
              </svg>
            </a>
          </li>
        </ul>
    </div>
  </div>


{% endblock  %}