<div class="mb-7 text-sm flex items-center gap-x-2 opacity-90">
            <a href="" class="text-zinc-800 hover:text-blue-500 transition">
              خانه
            </a>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3d3d3d" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg>
            </div>
            <a href="" class="text-zinc-800 hover:text-blue-500 transition">
              محصولات
            </a>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3d3d3d" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg>
            </div>
            <a class="text-blue-500" href="">
              لپ تاپ ایسوس
            </a>
          </div>